<div style="margin-bottom: 40px;">
  <div class="row">
    <div class="col-md-12">
      <img [src]="recipeDetail.imagePath" style="height: 300px; width: 380px;" [alt]="recipeDetail.imagePath" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>{{recipeDetail.name}}</h1>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="btn-group" appDropdown >
            <button  class="btn btn-primary dropdown-toggle" type="button">Manage Recipies <span class="caret"></span></button>
            <ul class="dropdown-menu" id="manageBtn" >
              <li><a [routerLink]="['/shopping-list']" (click)="onAddToSL()" >To Shopping List</a></li>
              <li><a [routerLink]="['edit']">Edit Recipe</a></li>
              <li *ngIf="authService.isAuthenticated()" ><a (click)="onDeleteRecipe()" >Delete Recipe</a></li>
            </ul>
          </div>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-md-12">
    <span class="lead">
    What else! 

    </span>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
      <strong>
      Ingredients
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let ingredient of recipeDetail.ingredients">

            {{ingredient.name}} - {{ingredient.amount}}
          </li>
        </ul>
      </strong>
    </div>
  </div>  
