#manageBtn ul{
    list-style-type: none;
    text-decoration: none;
    line-height: 0.7;
}
ul li{
    background-color: whitesmoke;
    list-style-type:  none;
}

ul li a {
    color: #888;
    text-decoration: none;
}

ul li a:hover {
    background-color: #555;
    border-radius: 4px;
    color: white;
}

/* .open ul{
    display: none;
} */